.tags_Container{
    display: flex;
    background-color: #304FFE;
    
}
.tags {
    display: inline-block;
    color: #011945;
    font-weight: bold;
    background-color: white;
    padding: .4em .8em;
    margin: .5em .25em;
    border-radius: 40px;
    font-size:calc(10px + .5vw);
}  
.results{
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    max-width: 65%;
    min-width: 200px;
    height: auto;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .25em;
    padding-left: clamp(10px, 3vw, 5%);
    padding-right: clamp(10px, 3vw, 5%);
    padding-top: 1%;
    padding-bottom: 1%;
}
.scholTags_Container{
    padding-left: 0px;
    margin: 0px;
    padding-bottom: 0.3%;
}
.scholTags {
    color: white;
    display: inline-block;
    background-color: #FFB400;
    padding: .4em .8em;
    border-radius: 40px;
    margin-left: 0px;
    font-size:calc(8px + .6vw);
}   
.schol_Grant{
    font-size: calc(12px + 2vw);
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.description{
    padding: 0px;
    font-size: calc(6px + .8vw);
}
.button{
    color: white;
    display: inline-block;
    background-color: #011945;
    padding: .5em 1em;
    border-radius: 40px;
    margin: .5em 0em;
    font-size:calc(8px + .6vw);
}
.button:hover{
    background-color: #304FFE;
}
.pageButtons{
    margin: auto; 
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}
.pageButtons a{
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    padding: .4em .8em;
    border-radius: 40px;
    margin-left: 0px;
    font-size:calc(5px + .6vw);
    text-decoration: none;
    margin-bottom: 1em;
}
.page:hover{
    background-color: #FFB400;
}
.page:active{
    background-color: #FFB400;
}